
.login-card{
    position: absolute;
    top:0; bottom: 0;
    right: 0;
    width: 250px;
    padding: 20px;    
    z-index: 999;
    box-shadow: inset 0px 0px 17px 0px #dadada;
    background: white;
    min-height: 450px;
}

.mat-list-item{    
    height: 68px !important;
}